body {
    margin: 0;

    background-image: linear-gradient(to bottom, white, white, rgba(123, 174, 169, 0.25));
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    position: fixed;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 12vh;

    display: flex;
    justify-content: space-between;

    background-image: linear-gradient(to left, rgba(123, 174, 169, 0.5),  rgba(123, 174, 169, 0), rgba(123, 174, 169, 0), rgba(123, 174, 169, 0.5));
    background-repeat: no-repeat;
    background-size: 100vw 12vh;
}


#mainLogo {
    height: 11vh;
    padding: 0.5vh;
}

#mainLogo:hover {
    background-image: linear-gradient(to top, rgba(123, 174, 169, 0.8), rgba(123, 174, 169, 0));
}

main {
    padding-top: 14vh;
}

.dark {
    background-color: rgba(45, 85, 80, 1);
}

#navHome {
    margin-left: 30px;
    text-decoration: none;
    align-self: center;
}

h1 {
    color: white;
    font-size: 3vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;

    align-self: center;
    margin: 0;
}

#navButtons {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    height: auto;
}

.navButton {
    color: rgba(20, 80, 65, 1);
    font-family: Verdana;
    font-size: 0.8em;
    font-weight: bold;

    background-color: rgba(123, 174, 169, 0.7);
    border: none;
    margin: 0 0.3vw;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;

    height: 8vh;
    min-width: 12vw;
}

.navButton:hover {
    animation-name: enlargeButton;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

@keyframes enlargeButton {
    from {
        width: 12vw;
        height: 8vh;
        background-color: rgba(123, 174, 169, 0.7);
        
    }
    to {
        width: 13vw;
        height: 9vh;
        background-color: rgba(123, 174, 169, 1);
    }
}

main {
    margin: 0px 10vw 0px;
}

h2 {
    color: rgba(45, 85, 80, 1);
    font-size: 4em;
    margin: 0;
}

h3 {
    color: rgba(45, 85, 80, 1);
    font-size: 2em;
}

#imgArea {
    display: flex;
    justify-content: space-around;
}

@keyframes makeOpaque {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1.0;
    }
}

.largeGraphic {
    width: 19vw;
    height: 19vw;
    padding: 0.5vw;

    border-style: solid;
    border-width: 1vw;
    border-radius: 11vw;
    border-color:  rgba(123, 174, 169, 1.0);

    opacity: 0.7;
}

.largeGraphic:hover {
    animation-name: makeOpaque;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.smallGraphic {
    display: inline-block;
    width: 10vh;
    padding: 0.5vw;

    vertical-align: middle;
}

@media (max-width: 600px) {
    h1{
        font-size: 5vh;
    }

    h2 {
        font-size: 2em;
        padding-top: 5vh;
    }
    
    h3 {
        font-size: 3vh;
    }

    #imgArea {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .largeGraphic {
        width: 14vh;
        height: 14vh;

        border-width: 1vh;
        border-radius: 9vh;

        margin: 2vh;
    }
}

.centered {
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}