.workBlock {
    display: flex;
    flex-wrap: nowrap;
}

.workText {
    margin: 2vw;
}

.workLogo {
    align-self: center;
    
    width: 19vw;
    height: 19vw;
    padding: 0.5vw;
    margin: 2vw;

    border-style: solid;
    border-width: 0.5vw;
    border-radius: 11vw;
    border-color: rgba(35, 31, 64, 1);
}

.workHeader {
    display: flex;
    flex-direction: column;
}

li {
    font-family: Verdana;
    margin: 10px 0px;
}

h3 {
    font-family: Verdana;
    font-weight: normal;
    background-color: rgba(35, 31, 64, 1);
    color: white;

    margin: 0;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    padding: 10px;
}

h4 {
    font-family: Verdana;
    font-size: 0.8em;
}

.workSubHeader {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .workBlock {
        flex-direction: column;
    }

    .workLogo {
        align-self: center;

        width: 14vh;
        height: 14vh;

        border-width: 1vh;
        border-radius: 9vh;

        margin: 2vh;
    }

    .workSubHeader {
        flex-direction: column;
        justify-content: left;
    }
    
    main {
        margin: 0px 5vw 0px;
    }
}