main {
    margin: 0 5vw 0;

    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-items: center;
}

h2 {
    padding-top: 10px;
}

#imageArea {
    justify-content: center;
}

#imageChanger {
    display: flex;
    justify-content: center;

    margin-top: 8px;
}


#primaryImgContainer {
    width: 52vw;
    height: 72vh;

    display: table-cell;

    padding: 1px;
    margin-top: 10px;

    text-align: center;
    vertical-align: middle;

    background-color: rgba(45, 85, 80, 0.75);
    box-shadow: 3px 6px darkgrey;
}

#primaryImg {
    padding: 5px;
    max-width: 50vw;
    max-height: 70vh;

    object-fit: fit;
}

.thumbnailImg {
    width: 5vw;
    height: 5vw;
    object-fit: cover;

    padding: 2px;
    margin: 5px;

    background-color: rgba(45, 85, 80, 0.75);
    box-shadow: 3px 6px darkgrey;
}

#textArea {
    justify-self: left;
}

@keyframes tilt {
    from {
        width: 12vw;
        height: 8vh;
        background-color: rgba(45, 85, 80, 0.3)
        
    }
    to {
        width: 13vw;
        height: 9vh;
        background-color: rgba(45, 85, 80, 1)
    }
}