main {
    margin: 0 5vw 0;

    display: grid;
    grid-template-columns: 4fr 2fr;
    justify-items: center;
}

h2 {
    padding-top: 10px;
}

#imageArea {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#imageChanger {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 52vw;

    margin-top: 8px;
}


#primaryImgContainer {
    width: 52vw;
    height: 72vh;

    display: table-cell;

    padding: 1px;
    margin-top: 10px;

    text-align: center;
    vertical-align: middle;

    background-color: rgba(187, 221, 218, 0.75);
    box-shadow: 3px 6px darkgrey;
}

#primaryImg {
    padding: 5px;
    max-width: 50vw;
    max-height: 70vh;

    object-fit: fit;
}

@keyframes tilt {
    from {
        transform: rotateY(0);
        opacity: 0.8;
    }
    to {
        transform: rotateY(20deg);
        opacity: 1.0;
    }
}

.thumbnailImg {
    width: 50px;
    height: 50px;
    object-fit: cover;

    padding: 2px;
    margin: 5px;
    transform: rotateY(0);

    background-color: rgba(45, 85, 80, 0.75);
    box-shadow: 3px 6px darkgrey;
    opacity: 0.8;
}

.thumbnailImg:hover {
    animation: tilt 0.2s ease-in 0.0s 1;
    animation-fill-mode: forwards;
}

#textArea {
    justify-self: left;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 1fr;
    }

    #primaryImg {
        padding: 5px;
        max-width: 80vw;
        max-height: 80vh;
    
        object-fit: fit;
        object-position: center;
    }

    #primaryImgContainer {
        width: auto;
        height: auto;
    }

    #imageChanger {
        max-width: 80vw;
    }
}