<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/images/s_hex_logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell - Gallery</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
    <link rel="stylesheet" type="text/css" href="style/style_gallery.css">
</head>

<body>
    <nav class="dark">
        <a id="navHome" href="/"><img id="mainLogo"></a>

        <div id="navControl">
            <img id="dropdownButton">
            <div id="navButtonBar">
                <a href="/about"><button class="navButton">About</button></a>
                <a href="/projects"><button class="navButton">Projects</button></a>
                <a href="/work_history"><button class="navButton">Work History</button></a>
                <a href="/gallery"><button class="navButton">Gallery</button></a>
            </div>
        </div>
    </nav>

    
    <main>
        <h2><img class="smallGraphic" src="images/gallery_pencil_frame.png"> Gallery</h2>

        <hr class="dark">

        <section>
            <a class="galleryBtn" href="/src/simon_newell_portfolio.zip" id="portfolioBtn">    <h4>Download Portfolio</h4>     </a>
            <a class="galleryBtn" href="/gallery/miniatures" id="miniaturesBtn">        <h4>Miniatures</h4>             </a>
            <a class="galleryBtn" href="/gallery/character_sketches" id="sketchesBtn">  <h4>Character Sketches</h4>     </a>
            <a class="galleryBtn" href="/gallery/3D_models" id="modelsBtn">             <h4>3D Models</h4>              </a>
            <a class="galleryBtn" href="/gallery/sigils" id="sigilsBtn">                <h4>Sigils and Iconography</h4> </a>
            <a class="galleryBtn" href="/gallery/misc" id="miscBtn">                    <h4>Miscellaneous</h4>          </a>
        </section>
    </main>
    
    <footer class="dark">
        <cite>© 2020 Copyright Simon Newell</cite>
    </footer>

</body>

</html>