<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
</head>

<body>
    <nav class="darkPurple">
        <h1>Simon Newell</h1>
        <div id="navButtons">
            <button class="navButton">About</button>
            <button class="navButton">Projects</button>
            <button class="navButton">Work History</button>
            <button class="navButton">Home</button>
        </div>
    </nav>

    <main>
        <div>
            
        </div>
        
    </main>
</body>

</html>