<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
    <link rel="stylesheet" type="text/css" href="style/style_gallery.css">
</head>

<body>
    <nav class="darkPurple">
        <h1>Simon Newell</h1>
        <div id="navButtons">
            <a href="/about"><button class="navButton">About</button></a>
            <a href="/projects"><button class="navButton">Projects</button></a>
            <a href="/work_history"><button class="navButton">Work History</button></a>
            <a href="/gallery"><button class="navButton">Gallery</button></a>
        </div>
    </nav>

    <main>
        <a class="galleryBtn" href="/gallery/portfolio">          <h4  id="portfolioBtn">Download Portfolio</h4>   </a>
        <a class="galleryBtn" href="/gallery/miniatures">         <h4 id="miniaturesBtn">Miniatures</h4>          </a>
        <a class="galleryBtn" href="/gallery/character_sketches"> <h4 id="sketchesBtn">Character Sketches</h4>    </a>
        <a class="galleryBtn" href="/gallery/3D_models">          <h4 id="modelsBtn">3D Models</h4>               </a>
        <a class="galleryBtn" href="/gallery/sigils">             <h4 id="sigilsBtn">Sigils and Iconography</h4>  </a>
        <a class="galleryBtn" href="/gallery/misc">               <h4 id="misc">Miscellaneous</h4>                </a>
    </main>
</body>

</html>