<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
    <link rel="stylesheet" type="text/css" href="style/style_work.css">
</head>

<body>
    <nav class="darkPurple">
        <h1>Simon Newell</h1>
        <div id="navButtons">
            <button class="navButton">About</button>
            <button class="navButton">Home</button>
            <button class="navButton">Work History</button>
            <button class="navButton">Gallery</button>
        </div>
    </nav>

    <main>

        <h2>Work History</h2>

        <hr>

        <section class="workBlock">

            <img class="workLogo" src="">

            <div class="workText">
                <header class="workHeader">
                        <h3>Project Placeholder Text</h3>
                </header>
            
                <ul>
                    <li>Point Form List Placeholder</li>
                </ul>
                <cite></cite>
            </div>    
        </section>
        
    </main>
</body>

</html>