<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell - Projects</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
    <link rel="stylesheet" type="text/css" href="style/style_work.css">
</head>

<body>
    <nav class="dark">
        <a id="navHome" href="/"><img id="mainLogo" src="images/s_hex_logo.png"></img></a>
        <div id="navButtons">
            <a href="/about"><button class="navButton">About</button></a>
            <a href="/projects"><button class="navButton">Projects</button></a>
            <a href="/work_history"><button class="navButton">Work History</button></a>
            <a href="/gallery"><button class="navButton">Gallery</button></a>
        </div>
    </nav>

    <main>    
        <h2><img class="smallGraphic" src="images/project_computer_hex.png">Projects</h2>

        <hr class="dark">

        <section class="workBlock">

            <img class="workLogo" src="">

            <div class="workText">
                <header class="workHeader">
                        <h3>Project Placeholder Text</h3>
                </header>
            
                <ul>
                    <li>Point Form List Placeholder</li>
                </ul>
                <cite></cite>
            </div>    
        </section>
        
    </main>
</body>

</html>