<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/images/s_hex_logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Newell - Projects</title>
    <link rel="stylesheet" type="text/css" href="style/style_general.css">
    <link rel="stylesheet" type="text/css" href="style/style_work.css">
</head>

<body>
    <nav class="dark">
        <a id="navHome" href="/"><img id="mainLogo"></a>

        <div id="navControl">
            <img id="dropdownButton">
            <div id="navButtonBar">
                <a href="/about"><button class="navButton">About</button></a>
                <a href="/projects"><button class="navButton">Projects</button></a>
                <a href="/work_history"><button class="navButton">Work History</button></a>
                <a href="/gallery"><button class="navButton">Gallery</button></a>
            </div>
        </div>
    </nav>

    <main>    
        <h2><img class="smallGraphic" src="images/project_computer_hex.png"> Projects</h2>

        <hr class="dark">

        <section class="workBlock">

            <img class="workLogo" src="/images/gallery_images/sigils/s_hex_logo.png">

            <div class="workText">
                <header class="workHeader">
                        <h3>Personal Website</h3>
                        <div class="workSubHeader">
                            <h4>Personal Website with Dynamically Displayed Content</h4>
                        </div> 
                </header>
            
                <ul>
                    <li>Created a functional website using HTML5, EJS, and JavaScript as well as Node.js.</li>
                    <li>Coded an Image Gallery using CSS, EJS, and an Asscociated JSON file to dynamically display a portfolio of images.</li>
                    <li>Designed an active user interface with responsive layout for desktop, tablet, and mobile devices.</li>
                    <li>Generated Custom Graphics and Icons to enhance website appearance and improve the user interface</li>
                </ul>
            </div>    
        </section>

        <hr>

        <section class="workBlock">

            <img class="workLogo" src="/images/gallery_images/sigils/wandernot.png">

            <div class="workText">
                <header class="workHeader">
                        <h3>WanderNot</h3>
                        <div class="workSubHeader">
                            <h4>Navigation Assistance Web Application (Computer System’s Technology)</h4>
                        </div> 
                </header>
            
                <ul>
                    <li>Created a functional Web Application from beginning to end in 5 weeks, in a team of 4 exclusively online.</li>
                    <li>Designed User Interface, and implemented it using HTML5, EJS, and CSS.</li>
                    <li>Wrote Code for fetching user input and preparing it for use in MongoDB Database using JSON format.</li>
                    <li>Worked with Leaflet Map API to develop custom map annotations.</li>
                </ul>
            </div>    
        </section>

        <hr>

        <section class="workBlock">

            <img class="workLogo" src="/images/gallery_images/sigils/VitoSignRed.png">

            <div class="workText">
                <header class="workHeader">
                        <h3>Flexipin</h3>
                        <div class="workSubHeader">
                            <h4>Orthopaedic Surgical Tool Development (Mechanical Engineering Capstone Project)</h4>
                        </div>
                </header>
            
                <ul>
                    <li>Created and conducted a survey of surgeons for stakeholder analysis, used to define device requirements and guide early design choices.</li>
                    <li>Wrote and performed quantitative testing of tool prototypes, resulting in critical design choices.</li>
                    <li>Created all final design drafts, assembly, and use instruction which would be used to produce the tool’s final design, as well as continue development of the project.</li>
                </ul>
            </div>    
        </section>

    </main>

    <footer class="dark">
        <cite>© 2020 Copyright Simon Newell</cite>
    </footer>

</body>

</html>